fastapi==0.115.0
fastapi-cli==0.0.5
fastparquet
feature-engine==1.8.1
lightgbm==4.5.0
numpy==2.0.2
pandas==2.2.3
pyarrow==17.0.0
pydantic==2.9.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
uvicorn==0.30.6